.accent-bg-mixin {
  color: #fff;
  background-color: #39c1d8;
}
.solid-bg-mixin {
  background-color: #ffffff;
}
.header-color {
  color: #222222;
}
.dt-mega-parent .sidebar-content .widget .header-color {
  color: #33323f;
}
#main .sidebar-content .header-color {
  color: #222222;
}
.footer .header-color {
  color: #ffffff;
}
.color-base-transparent {
  color: #aaaaaa;
}
.sidebar-content .color-base-transparent {
  color: rgba(102,102,102,0.5);
}
.footer .color-base-transparent {
  color: rgba(255,255,255,0.5);
}
.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(102,102,102,0.16);
  box-shadow: inset 0px 0px 0px 1px rgba(102,102,102,0.16);
}
.shadow-element-decoration .shadow-decoration {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.testimonial-item:not(.testimonial-item-slider),
.testimonial-item .ts-viewport,
.bg-on.team-container,
.dt-team-shortcode.content-bg-on .team-container {
  background-color: #ffffff;
}
.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .bg-on.team-container,
.outline-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(102,102,102,0.16);
  box-shadow: inset 0px 0px 0px 1px rgba(102,102,102,0.16);
}
.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .bg-on.team-container,
.shadow-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.dt-team-shortcode .team-content {
  font-size: 14px;
  line-height: 25px;
}
.testimonial-item .testimonial-vcard .text-secondary,
.testimonial-item .testimonial-vcard .text-primary,
.testimonial-item .testimonial-vcard .text-primary * {
  color: #222222;
}
.sidebar-content .testimonial-item .testimonial-vcard .text-secondary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary * {
  color: #222222;
}
.footer .testimonial-item .testimonial-vcard .text-secondary,
.footer .testimonial-item .testimonial-vcard .text-primary,
.footer .testimonial-item .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.testimonial-item .testimonial-vcard a.text-primary:hover,
.testimonial-item .testimonial-vcard a.text-primary:hover * {
  text-decoration: underline;
}
.team-author p {
  color: #222222;
  font:    14px / 25px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.dt-team-shortcode .team-author p {
  font:    15px / 27px "Tahoma", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #39c1d8;
}
.dt-mega-parent .sidebar-content .widget .team-author p {
  color: #33323f;
}
.sidebar-content .team-author p {
  color: #222222;
}
.footer .team-author p {
  color: #ffffff;
}
.testimonial-vcard .text-secondary {
  color: #222222;
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-secondary {
  color: #33323f;
}
#main .sidebar-content .testimonial-vcard .text-secondary {
  color: #222222;
}
.footer .testimonial-vcard .text-secondary {
  color: #ffffff;
}
.dt-testimonials-shortcode .testimonial-vcard .text-secondary {
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  color: #39c1d8;
}
.dt-testimonials-shortcode .more-link {
  color: #39c1d8;
}
.testimonial-vcard .text-primary {
  color: #222222;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-primary {
  color: #33323f;
}
#main .sidebar-content .testimonial-vcard .text-primary {
  color: #222222;
}
.footer .testimonial-vcard .text-primary {
  color: #ffffff;
}
.testimonial-vcard .text-primary * {
  color: #222222;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-primary * {
  color: #33323f;
}
#main .sidebar-content .testimonial-vcard .text-primary * {
  color: #222222;
}
.footer .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.dt-testimonials-shortcode .testimonial-vcard .text-primary {
  font: normal  normal 19px / 29px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
}
.team-author-name,
.team-author-name a {
  color: #222222;
  font: normal  normal 19px / 29px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
}
.content .team-author-name a:hover {
  color: #39c1d8;
}
.widget .team-author-name,
.widget .team-author-name a {
  font:    17px / 27px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #222222;
}
.dt-mega-parent .sidebar-content .widget .widget .team-author-name,
.dt-mega-parent .sidebar-content .widget .widget .team-author-name a {
  color: #33323f;
}
#main .sidebar-content .widget .team-author-name,
#main .sidebar-content .widget .team-author-name a {
  color: #222222;
}
.footer .widget .team-author-name,
.footer .widget .team-author-name a {
  color: #ffffff;
}
.team-author-name,
.team-author-name a {
  color: #222222;
}
.dt-mega-parent .sidebar-content .widget .team-author-name,
.dt-mega-parent .sidebar-content .widget .team-author-name a {
  color: #33323f;
}
#main .sidebar-content .team-author-name,
#main .sidebar-content .team-author-name a {
  color: #222222;
}
.footer .team-author-name,
.footer .team-author-name a {
  color: #ffffff;
}
.rsTitle {
  font:    43px / 53px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.rsDesc {
  font:    33px / 43px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
@media screen and (max-width: 1200px) {
  .rsTitle {
    font:    33px / 43px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    23px / 33px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 1024px) {
  .rsTitle {
    font:    23px / 33px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    19px / 29px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 800px) {
  .rsTitle {
    font:    17px / 27px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    14px / 25px "Tahoma", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 320px) {
  .rsTitle {
    font:    14px / 25px "Tahoma", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    display: none !important;
    font:    14px / 25px "Tahoma", Helvetica, Arial, Verdana, sans-serif;
  }
}
#main-slideshow .progress-spinner-left,
#main-slideshow .progress-spinner-right {
  border-color: #39c1d8 !important;
}
.slider-content .owl-dot:not(.active):not(:hover),
.slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(102,102,102,0.35);
  box-shadow: inset 0 0 0 2px rgba(102,102,102,0.35);
}
.slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(102,102,102,0.35);
  box-shadow: inset 0 0 0 20px rgba(102,102,102,0.35);
}
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot:not(.active):not(:hover),
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(51,50,63,0.35);
  box-shadow: inset 0 0 0 2px rgba(51,50,63,0.35);
}
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(51,50,63,0.35);
  box-shadow: inset 0 0 0 20px rgba(51,50,63,0.35);
}
.sidebar .slider-content .owl-dot:not(.active):not(:hover),
.sidebar .slider-content .owl-dot:not(.active):hover,
.sidebar-content .slider-content .owl-dot:not(.active):not(:hover),
.sidebar-content .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(102,102,102,0.35);
  box-shadow: inset 0 0 0 2px rgba(102,102,102,0.35);
}
.sidebar .slider-content .owl-dot.active,
.sidebar-content .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(102,102,102,0.35);
  box-shadow: inset 0 0 0 20px rgba(102,102,102,0.35);
}
.footer .slider-content .owl-dot:not(.active):not(:hover),
.footer .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(255,255,255,0.35);
  box-shadow: inset 0 0 0 2px rgba(255,255,255,0.35);
}
.footer .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(255,255,255,0.35);
  box-shadow: inset 0 0 0 20px rgba(255,255,255,0.35);
}
