.woocommerce {
}
.woocommerce .product {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.woocommerce .product .post-thumbnail-wrap {
    width: 75%;
    position: relative;
}
.woocommerce .product:nth-child(even) .post-thumbnail-wrap {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
}
.woocommerce .product .post-thumbnail-wrap .post-thumbnail-rollover:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: -webkit-transform 4s ease-out;
    transition: transform 4s ease-out
}
.woocommerce .product .post-thumbnail-wrap .post-thumbnail-rollover:hover i {
    display: none;
}

.woocommerce .product:nth-child(even) .post-thumbnail-wrap .fancy-categories {
    left: auto;
    right: 10px;
}
.woocommerce .product .post-thumbnail-wrap .fancy-categories a {
    background-color: #39c1d8;
}
.woocommerce .product .entry-content {
    margin-left: -150px;
    padding: 25px 30px 30px 30px;
    width: calc(100% - 75% + 150px);
    background-color: #fff;
    margin-top: 60px;
    position: relative;
    z-index: 10;
    box-shadow: inset 0px 0px 0px 1px rgba(102,102,102,0.16);
}
.woocommerce .product:nth-child(even) .entry-content {
    margin-right: -150px;
    margin-left: auto;
}
.woocommerce .product .entry-content h4 {
    margin-bottom: 5px;
    font-weight: bold;
    font: normal normal normal 23px / 33px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
    color: #222222;
    text-transform: none;
}
.woocommerce .product .entry-content .woocommerce-product-details__short-description {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 10px;
}
.woocommerce .product .entry-content .woo-buttons a {
    color: #39c1d8;
    font-size: 13px !important;
    line-height: 13px !important;
    padding-bottom: 8px !important;
    font-weight: 700 !important;
    background-color: transparent;
    font-family: "Tahoma", Helvetica, Arial, Verdana, sans-serif !important;
    padding: 0 10px !important;
}
.woocommerce .product .entry-content .woo-buttons a:nth-child(1) {
    padding-left: 0 !important;
}
.woocommerce .product .entry-content .woo-buttons a:nth-child(even) {
    border-left: 2px solid #39c1d8;
}
.woocommerce .product .entry-content .woo-buttons:hover {
    background-color: transparent !important;
}
.woocommerce .product .entry-content .woo-buttons a:hover {
    background-color: transparent !important;
}


/************** product description left panel start *****************/
.custom-product-page .description-off.product .product-thumbnail {
    position: relative;
    margin-bottom: 45px;
    line-height: 0;
}
.custom-product-page .description-off.product {
    display: block;
}
.custom-product-page .description-off.product .product-thumbnail img {
    width: 100%;
    height: auto;
}
.custom-product-page .description-off.product .summary.entry-summary {
    display: block;
    width: 100%;
}
.custom-product-page .product-thumbnail .fancy-categories a {
    background-color: #39c1d8;
}
/************** product description left panel end *****************/

/************** sidebar image gallery start ************/
.photos-gallery-aside {
    border-top: 1px solid rgba(102,102,102,0.16);
    padding-top: 30px;
    margin-top: 30px;    
}
.photos-gallery-aside .thumb-title {
    color: #222222;
    font: normal 17px / 27px "Libre Baskerville", Helvetica, Arial, Verdana, sans-serif;
    margin-bottom: 15px;
}
.photos-gallery-aside .woocommerce-product-gallery__image {
    position: relative;
    float: left;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    max-width: 85px;
    width: calc(33.33% - 4px);
    height: 70px;
}
.photos-gallery-aside .woocommerce-product-gallery__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/************** sidebar image gallery end ************/

/************** sidebar other destination start ************/
.sidebar .product_list_widget .recent-posts li .product-title {
    padding-top: 8px;
    display: inline-block;
}
.sidebar .product_list_widget li img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 0;
}
/************** sidebar other destination end ************/

/************** sidebar cart button start ************/
.sidebar .cart .single_add_to_cart_button {
    display: block;
    width: 100%;
    border: 1px solid #39c1d8;
    font: normal 15px / 27px "Tahoma", Helvetica, Arial, Verdana, sans-serif;
    padding: 10px 0;
    margin-bottom: 20px;
}
.sidebar .cart .single_add_to_cart_button:hover {
    background-color: #fff !important;
    color: #39c1d8 !important;
}
/************** sidebar cart button end ************/
.sidebar-addtocart-block {
    border-bottom: 1px solid rgba(102,102,102,0.16);
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.woocommerce .product .entry-content .woo-buttons .added_to_cart {
    color: #39c1d8;
    font-size: 13px !important;
    line-height: 13px !important;
    padding-bottom: 8px !important;
    font-weight: 700 !important;
    background-color: transparent;
    font-family: "Tahoma", Helvetica, Arial, Verdana, sans-serif !important;
    padding: 0 !important;
}
.woocommerce .product .added_to_cart span {
    color: #39c1d8;
    font-size: 13px !important;
    line-height: 13px !important;
    padding-bottom: 8px !important;
    font-weight: 700 !important;
    background-color: transparent;
    font-family: "Tahoma", Helvetica, Arial, Verdana, sans-serif !important;
    padding: 0 10px !important;
    border-left: 2px solid #39c1d8;
}


@media (max-width: 1024px) {
    .woocommerce .product {
        display: block;
    }
    .woocommerce .product .post-thumbnail-wrap {
        width: 100%;
    }
    .woocommerce .product .entry-content {
        margin: 0;
        width: calc(100% - 60px);
    }
    
    .woocommerce .product:nth-child(even) .post-thumbnail-wrap {
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .woocommerce .product:nth-child(even) .post-thumbnail-wrap .fancy-categories {
        left: 10px;
        right: auto;
    }
    
    .woocommerce .product:nth-child(even) .entry-content {
        margin-right: 0;
        margin-left: 0;
    }

}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}